@import "nullable";
@import "buttons";

$color-main-text: #333333;

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $color-main-text;
    min-width: 320px;
}

// Служебный класс, ограничение контейнера по ширине
._container{
    max-width: 1298px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.decipline-status{
    align-self: flex-end;
}

// Заголовок страницы
.page-header{
    .header-unactive{
        color: #BBBBBB;
    }

    @media screen and (max-width: 640px){
        text-align: center;
        font-size: 24px;
    }
}
// Текст всех заголовков
.header-text{
    text-transform: uppercase;
    font-weight: bold;
}

.attestation-container{
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 700px;
    flex: 1 0 auto;
    background-color: #F4F4F4;
    border-radius: 15px;
    box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.25);
    padding: 32px;

    .section-header{
        hr{
            border: 1px solid #6c6c6c;
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
        }
        .section-header__wrapper{
            margin-bottom: 8px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .section-header-text { 
                font-weight: 400;
                font-size: 18px;
                color: #555;
            }
            .buttons-wrap{
                display: flex;
                gap: 16px;

                @media screen and (max-width: 768px){
                    display: none;
                }
            }
        }
    }

    .section-content{
        .section-content__element{
            .element__header{
                margin-bottom: 8px;
            }
            .content-wrapper{
                display: flex;
                gap: 32px;
                .element__descriptions{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    font-size: 12px;
                    max-width: 470px;
                    .element-header{
                        font-size: 16px;
                    }
                }

                .element__content{
                    display: flex;
                    flex: 1 1 100%;
                    max-width: 730px;
                    flex-direction: column;
                    gap: 8px;
                }
            }

        }
    }

    .create-attestation{
        .inputs-wrapper{
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            .form-input{
                max-width: 300px;
                width: 100%;
                .input-header{
                    font-weight: 700;
                    display: block;
                }
                .input{
                    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                    border: 0;
                    font-size: 16px;
                    color: #000;
                    padding: 8px 16px;
                    width: 100%;
                }
            }
        }
        .checkbox-container{
            margin: 24px 0;
        }
    }
}
